body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
}

h1, .par2 {
    color: darkkhaki;
}

.blue {
    background-color: blue;
}

table {
    background-color: white;
}

table, tr, td {
    border: 1px black solid;
}